<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>GoodTravels</title>
	<link rel="stylesheet" href="style/main.css">
</head>

<body>

<div class="container">
	<ul class="trips row">
		{% for record in records %}
			{% if record.destination %}
				<li class="trip col">{{ record.destination }}</li>
			{% endif %}
		{% endfor %}
	</ul>

	<a href="/add-trip" class="btn btn-primary">Add Trip</a>
</div>





{#<script src="js/scripts.js"></script>#}
</body>
</html>